ariadne==0.11.0
boto3==1.12.39
botocore==1.15.39
click==7.1.1
docutils==0.15.2
Flask==1.1.2
graphql-core==3.0.4
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
MarkupSafe==1.1.1
PyJWT==1.7.1
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.14.0
starlette==0.13.2
typing-extensions==3.7.4.2
urllib3==1.25.8
Werkzeug==1.0.1
